<mat-card>
    <button mat-icon-button (click)="onDelete()" class="btn-excluir" color="warn">
        <mat-icon>delete_forever</mat-icon>
    </button>
    <div matCardImage class="imagem" [ngStyle]="{'background-image': 'url(\''+getImg()+'\''}" (click)="openDialog()" target="_blank"></div>
    <mat-card-content>
        <div *ngIf="!isEditar" (click)="isEditar = true" class="editar" >
            {{prototipoI.descricao ? prototipoI.descricao : prototipoI.originalname}}
        </div>
        <div *ngIf="isEditar" class="edicao" (mouseover)="inEditar.focus()" (keypress)="onKey($event)">
            <input type="text" #inEditar [value]="prototipoI.descricao" placeholder="Adicionar descrição" (blur)="salvaEdicao(inEditar.value)" />
        </div>
    </mat-card-content>
</mat-card>
