.imagem {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: block;
}

.editar {
    padding: 2px;
    display: block;
}
.editar:hover {
    padding: 1px;
    border: solid grey 1px;
}

.edicao input {
    width: 100%;
}

.btn-excluir {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.mat-card:hover .btn-excluir {
    visibility: visible;
}
