<mat-card fxFlex.gt-md="70" *ngIf="userStorieRestI">
    <mat-card-header>
        <mat-card-title>US{{userStorieRestI.userStorie.numero}} - {{userStorieRestI.userStorie.nome}} </mat-card-title>
        <mat-card-subtitle>
            <a [routerLink]="['/projetos/view', userStorieRestI.projeto?._id]" >{{userStorieRestI.projeto?.nome}}</a> -
            criado em: {{userStorieRestI.userStorie.createdAt | date:'shortDate'}} -
            {{userStorieRestI.userStorie.createdAt | date:'shortTime'}}
            <span *ngIf="userStorieRestI.userStorie.createdAt !== userStorieRestI.userStorie.updatedAt" > |
                alterado em: {{userStorieRestI.userStorie.updatedAt | date:'shortDate'}} -
                {{userStorieRestI.userStorie.updatedAt | date:'shortTime'}}
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="start">
        <button mat-button color="accent" [routerLink]="['/us/edit', userStorieRestI.userStorie._id]"><mat-icon>edit</mat-icon> Editar</button>
        <button mat-button color="warn" (click)="delete()"><mat-icon>close</mat-icon> Excluir</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p>{{userStorieRestI.userStorie.descricao}}</p>

        <h3>Pré-condições</h3>
        <p *ngFor="let item of userStorieRestI.userStorie.preCondicoes">
            <b>{{item.numero}}.</b> {{item.descricao}}
        </p>

        <h3>Critérios</h3>
        <p *ngFor="let item of userStorieRestI.userStorie.criterios">
            <b>{{item.numero}}.</b> {{item.descricao}}
        </p>
    </mat-card-content>
</mat-card>
