<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="userStorieRestI">
    <mat-card fxFlex.gt-md="70" style="margin-bottom: 20px;">
        <mat-card-header>
            <mat-card-title>US{{userStorieRestI.obj.numero}} - {{userStorieRestI.obj.nome}} </mat-card-title>
            <mat-card-subtitle>
                <a [routerLink]="['/projetos/view', getProjeto()._id]" >{{getProjeto().nome}}</a> -
                criado em: {{userStorieRestI.obj.createdAt | date:'shortDate'}} -
                {{userStorieRestI.obj.createdAt | date:'shortTime'}}
                <span *ngIf="userStorieRestI.obj.createdAt !== userStorieRestI.obj.updatedAt" > |
                    alterado em: {{userStorieRestI.obj.updatedAt | date:'shortDate'}} -
                    {{userStorieRestI.obj.updatedAt | date:'shortTime'}}
                </span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="start">
            <button mat-button color="accent" [routerLink]="['/us/edit', userStorieRestI.obj._id]"><mat-icon>edit</mat-icon> Editar</button>
            <button mat-button color="warn" (click)="delete()"><mat-icon>close</mat-icon> Excluir</button>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                {{userStorieRestI.obj.descricao}}
                <mat-divider [inset]="true" style="margin-top:10px;"></mat-divider>
            </p>

            <h3>Pré-condições</h3>
            <p *ngFor="let item of userStorieRestI.obj.preCondicoes">
                <b>{{item.numero}}.</b> {{item.descricao}}
                <mat-divider [inset]="true" style="margin-top:10px;"></mat-divider>
            </p>

            <h3>Critérios</h3>
            <p *ngFor="let item of userStorieRestI.obj.criterios">
                <b>{{item.numero}}.</b> {{item.descricao}}
                <mat-divider [inset]="true" style="margin-top:10px;"></mat-divider>
            </p>
        </mat-card-content>
    </mat-card>

    <div class="box-prototipos" fxFlex.gt-md="28" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
        <input type="file" #inputFile name="photo" ng2FileSelect [uploader]="uploader" style="display:none;" />
        <button mat-raised-button fxFlexFill (click)="inputFile.click()" color="accent">
            <mat-icon class="mat-18">add</mat-icon> Adicionar Protótipo
        </button>

        <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlexFill>
            <app-prototipo
                *ngFor="let prototipo of userStorieRestI.obj.prototipos"
                [prototipoI]="prototipo" (prototiposUpdate)="atualizaPrototipos($event)"
                fxFlex="calc(50% - 10px)"
                style="margin-right:10px; margin-bottom:10px;"
            ></app-prototipo>
        </div>
    </div>
</div>
