<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
    <div class="content" fxFlex="300px" fxFlex.lt-sm="90">
        <form [formGroup]="formLogin">
            <h2 style="margin-top: 0">Login</h2>
            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Password">
                </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
                <div fxFlexFill>
                    <button mat-flat-button color="primary" (click)="formLogin.valid ? onLogin() : true">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
