body {
    background-color: rgb(245,245,245);
}
.content {
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(200, 200, 200);
}

h2 {
    font-weight: 100;
}
