html,
body {
    height: 100%;
    margin: 0;
}

.main-container, body {
    background-color: rgb(250, 250, 250);
}

.mb-20 {
    margin-bottom: 20px;
}

.mat-card-header .mat-card-title {
    font-size: 20px;
}

.mat-card .buttons-actions button {
    margin-right: 3px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
