@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

@import 'main';

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    position: absolute;
    top: 64px;
    left: 305px;
    right: 0;
    bottom: 0;
    padding: 20px;
    transition-property: left;
    transition-duration: 300ms;
}

@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 55px !important;
        }
        #navsidebar {
            left: 0 !important;
        }
    }
}

@media screen and (min-width: 993px) {
    .navsidebar-toggle {
        .main-container {
            left: 55px;
        }
        #sidebar {
            left: -250px !important;
        }
    }
}

.mb-20 {
    margin-bottom: 20px;
}


.prototipo-dialog-container .mat-dialog-container {
    padding: 0 !important;
}
