<div>
  <h2 *ngIf="isNovo" >Criar US</h2>
  <h2 *ngIf="!isNovo" >Editar US</h2>

  
  <form [formGroup]="formUs">
    <div style="margin-bottom: 20px">
      <button mat-raised-button color="primary"  (click)="formUs.valid ? salvar() : true">Salvar</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
      <mat-form-field appearance="outline" fxFlex="100px">
        <mat-label>Número</mat-label>
        <input matInput type="number" formControlName="numero" autocomplete="off" style="font-size: x-large">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" autocomplete="off" style="font-size: x-large">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
      <mat-form-field appearance="outline" fxFlex>
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao" placeholder="Descrever US" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <p>Pré-condições</p>
      <button mat-stroked-button (click)="adicionarItem('preCondicoes')" type="button" color="accent">Adicionar</button>
    </div>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" formArrayName="preCondicoes" 
      *ngFor="let itemPre of getFormArray('preCondicoes').controls; let i = index" >
      <div fxFlexFill fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" [formGroupName]="i">
          <mat-form-field appearance="outline" fxFlex="80px">
              <mat-label>Número</mat-label>
              <input matInput type="number" formControlName="numero" autocomplete="off">
            </mat-form-field>
      
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Descrição</mat-label>
              <textarea matInput type="text" formControlName="descricao" rows="1"></textarea>
            </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <p>Condições</p>
      <button mat-stroked-button (click)="adicionarItem('condicoes')" type="button" color="accent">Adicionar</button>
    </div>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" formArrayName="condicoes" 
      *ngFor="let itemPre of getFormArray('condicoes').controls; let i = index" >
      <div fxFlexFill fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" [formGroupName]="i">
          <mat-form-field appearance="outline" fxFlex="80px">
              <mat-label>Número</mat-label>
              <input matInput type="number" formControlName="numero" autocomplete="off">
            </mat-form-field>
      
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Descrição</mat-label>
              <textarea matInput type="text" formControlName="descricao" rows="1"></textarea>
            </mat-form-field>
      </div>
    </div>
  </form>
</div>
